<div
  class="bg-[url(/images/hero.webp)] bg-cover bg-center bg-no-repeat h-screen"
>
  <div
    class="flex flex-col items-center justify-center gap-10 mx-auto h-full text-center max-w-200 px-4 md:px-8"
  >
    <img src="/images/logos/primary.webp" alt="Transvego" class="w-56 md:w-80" />
    <div class="text-primary flex flex-col gap-2 md:gap-4">
      <h1 class="hidden">Transvego</h1>
      <h2 class="text-3xl md:text-6xl font-medium text-primary">
        Nuestro Próximo{" "}<br class="md:hidden">{" "}Gran Paso
      </h2>
      <p class="text-sm md:text-lg">
        En este momento, estamos perfeccionando nuestro sitio web. Queremos que
        nuestra plataforma esté a la altura de la Calidez y la Calidad con la
        que trabajamos.
      </p>
      <p class="md:text-xl font-medium">Vuelve pronto para experimentar nuestra nueva plataforma.</p>
    </div>
  </div>
</div>
